<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">
<head>
<title>勤怠承認画面 - 月別一覧</title>
<script>
</script>
</head>
<body>
<div layout:fragment="content">
  <br>
  <div class="container border col-10">
    <br>
    <h2>勤怠承認画面 - 月別一覧</h2>
    <br>

    <div class="row">
      <div class="col-lg">
        <form th:action="@{/work/auth/monthly}" method="get" class="form-inline">
          <input type="hidden" name="seq_login_id" th:value="${seqLoginId}" />
          <table class="table table-borderless">
            <tr class="form-group zero-margin">
              <td>
                <select id="year" name="year" class="custom-select">
                  <option th:each="year : ${yearList}" th:value="${year}" th:selected="${year == selectedYear}" th:inline="text">[[${year}]]</option>
                </select><!-- custom-select -->
              </td>
              <td>
                <select id="month" name="month" class="custom-select">
                  <option th:each="month : ${monthList}" th:value="${month}" th:selected="${month == selectedMonth}" th:inline="text">[[${month}]]</option>
                </select><!-- custom-select -->
              </td>
              <td><input type="submit" class="btn btn-outline-primary mt-1" value="切替" /></td>
            </tr>
          </table><!-- table table-borderless -->
        </form>
      </div><!-- col-lg -->
    </div><!-- row -->

    <div class="row">
      <div class="col-lg">
        <a class="link" th:href="@{'/work/auth/userlist?year=' + ${selectedYear} + '&month=' + ${selectedMonth}}">ユーザ一覧へ戻る</a>
      </div><!-- col-lg -->
    </div><!-- row -->
    <br>

    <div class="row">
      <div class="col-lg">
        <div th:text="'承認対象ログインID:' + ${seqLoginId}"></div>
      </div><!-- col-lg -->
    </div><!-- row -->
    <br>

    <div class="row">
      <div class="col-lg">

        <div th:if="${doneSuccess}" class="alert alert-success" role="alert">承認完了しました</div>
        <div th:if="${rejestSuccess}" class="alert alert-warning" role="alert">承認却下しました</div>

        <table class="table">
            <tr class="form-group zero-margin">
              <th th:text=#{work.day}></th>
              <th th:text=#{work.weekDay}></th>
              <th th:text=#{work.beginWork}></th>
              <th th:text=#{work.endWork}></th>
              <th th:text=#{work.workStatus}></th>
              <th></th>
            </tr><!-- /.form-group zero-margin -->
            <tr th:each="data, status : ${authDataList}" class="form-group zero-margin">
              <td th:text="${#temporals.format(data.date, 'd')}"></td>
              <td>
                <div th:if="${data.weekday.value == '1'}" th:text="#{sunday}" class="sunday"></div>
                <div th:if="${data.weekday.value == '2'}" th:text="#{monday}" th:classappend="${data.businessFlg.value == '0'} ? 'holiday'"></div>
                <div th:if="${data.weekday.value == '3'}" th:text="#{tuesday}" th:classappend="${data.businessFlg.value == '0'} ? 'holiday'"></div>
                <div th:if="${data.weekday.value == '4'}" th:text="#{wednesday}" th:classappend="${data.businessFlg.value == '0'} ? 'holiday'"></div>
                <div th:if="${data.weekday.value == '5'}" th:text="#{thursday}" th:classappend="${data.businessFlg.value == '0'} ? 'holiday'"></div>
                <div th:if="${data.weekday.value == '6'}" th:text="#{friday}" th:classappend="${data.businessFlg.value == '0'} ? 'holiday'"></div>
                <div th:if="${data.weekday.value == '7'}" th:text="#{saturday}" class="saturday"></div>
              </td>
              <td th:text="${#temporals.format(data.begin, 'HH:mm')}"></td>
              <td th:text="${#temporals.format(data.end, 'HH:mm')}"></td>
              <td>
                <div th:if="${data.workAuthStatus != null && data.workAuthStatus.value == '10'}" th:text="#{work.auth.status.still}" class="work-status-still"></div>
                <div th:if="${data.workAuthStatus != null && data.workAuthStatus.value == '20'}" th:text="#{work.auth.status.done}" class="work-status-done"></div>
              </td>
              <td>
                <a th:if="${data.workAuthStatus != null && data.workAuthStatus.value == '10'}" th:href="@{'/work/auth/done/' + ${data.seqDailyWorkEntryDataId} + '?seq_login_id=' + ${seqLoginId} + '&year=' + ${selectedYear} + '&month=' + ${selectedMonth}}" class="link">承認する</a>
                <a th:if="${data.workAuthStatus != null && data.workAuthStatus.value == '20'}" th:href="@{'/work/auth/reject/' + ${data.seqDailyWorkEntryDataId} + '?seq_login_id=' + ${seqLoginId} + '&year=' + ${selectedYear} + '&month=' + ${selectedMonth}}" class="link">却下する</a>
              </td>
            </tr>
        </table><!-- /.table -->
      </div><!-- col-lg -->
    </div><!-- row -->
    <br>

  </div><!-- /.container.border.col-10 -->
  <br>
  <br>
  <br>
</div>
</body>
</html>